[submodule "OCA/pos"]
	path = OCA/pos
	url = git@github.com:OCA/pos.git
	branch = 13.0

[submodule "OCA/vertical-hotel"]
	path = OCA/vertical-hotel
	url = git@github.com:OCA/vertical-hotel.git
	branch = 13.0
